<div class="form-container">
  <h2>Criar Conta</h2>
  <form>
    <div class="field">
      @let username = form.username();
      @let showUsernameError = username.invalid() && username.touched();
      <label for="username">Nome de usuário</label>
      <input
        id="username"
        type="text"
        [formField]="form.username"
        autocomplete="none"
        autofill="none"
        [class.error]="showUsernameError"
      />
      @if (showUsernameError) {
        <ul class="error-message">
          @for (error of username.errors(); track error.kind) {
            <li>{{ error.message }}</li>
          }
        </ul>
      }
    </div>
    <div class="field">
      @let email = form.email();
      @let showEmailError = email.invalid() && email.touched();
      <label for="email">Email</label>
      <input
        id="email"
        type="text"
        [formField]="form.email"
        autocomplete="none"
        autofill="none"
        [class.error]="showEmailError"
      />
      @if (showEmailError) {
        <ul class="error-message">
          @for (error of email.errors(); track error.kind) {
            <li>{{ error.message }}</li>
          }
        </ul>
      }
    </div>
    <div class="field">
      <label for="email">Idade</label>
      <input
        id="age"
        type="number"
        [formField]="form.age"
        autocomplete="none"
        autofill="none"
      />
    </div>
    <button type="submit" (click)="$event.preventDefault()">Criar conta</button>
  </form>
  <pre>{{ model() | json }}</pre>
</div>
